/* @tailwind base; */
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NeueMontreal";
  src: url("/assets/fonts/NeueMontreal/PPNeueMontreal-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/assets/fonts/NeueMontreal/PPNeueMontreal-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-300";
  src: url("/assets/fonts/NeueMontreal/PPNeueMontreal-Medium.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/assets/fonts/NeueMontreal/PPNeueMontreal-SemiBolditalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/assets/fonts/NeueMontreal/PPNeueMontreal-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos-Regular";
  src: url("/assets/fonts/Test Tiempos Text/test-tiempos-text-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos-Medium";
  src: url("/assets/fonts/Test Tiempos Text/test-tiempos-text-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos-Bold";
  src: url("/assets/fonts/Test Tiempos Text/test-tiempos-text-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos-SemiBold-Italic";
  src: url("/assets/fonts/Test Tiempos Text/test-tiempos-text-semibolditalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Tiempos-SemiBold";
  src: url("/assets/fonts/Test Tiempos Text/test-tiempos-text-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "NeueMontreal", sans-serif;
  width: 100vw !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar{
  width: 5px;
  background: none;
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: #3e3e3c;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.testtext{
  @media screen and (min-width: 768px){
    font-size: 3.5rem;
  }
    
  @media screen and (max-width: 768px){
    font-size: 2.5rem;
  }

  @media screen and (max-width: 576px){
    font-size: 2rem;
  }

  @media screen and (max-width: 480px){
    font-size: 1.5rem;
  }

  @media screen and (max-width: 360px){
    font-size: 1.2rem;
  }

  @media screen and (max-width: 320px){
    font-size: 1rem;
  }
}


  @media screen and (min-width: 768px){
    .big-text{
    font-size: 8vw !important;
    }
    .p24{
      font-size: 24px;
    }
  }
    
  @media screen and (max-width: 767px){
    .big-text{
    font-size: 8vw !important;
    }
    .p24{
      font-size: 20px;
    }
  }

  @media screen and (max-width: 479px){
    .big-text{
    font-size: 14vw !important;
    }
    .p24{
      font-size: 20px;
    }
  }

  @media screen and (max-width: 991px){
    .text60 {
      font-size: 40px !important ;
    }
    .text56{
      font-size: 35px !important;
    }
    .text40{
      font-size: 30px !important;
    }
    .text32{
      font-size: 24px !important;
    }
  }
  @media screen and (min-width: 991px){
    .text60 {
      font-size: 60px !important;
    }
    .text56 {
      font-size: 56px !important;
    }
    .text40 {
      font-size: 40px !important;
    }
    .text32{
      font-size: 32px !important;
    }
  }

  @media screen and (max-width: 569px){
    .text56 {
      font-size: 27px !important;
    }
    .text40 {
      font-size: 25px !important;
    }
    .text32{
      font-size: 18px !important;
    }
  }
    

